body{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    background-color: #c7f9cc;
    color: #22577a;
    height: 100vh;
    margin: 0;
    gap: 5%;
}

*{
    font-family: "Poppins", sans-serif;
}

h1{
    font-size: 42px;
}

#principal{
    display: flex;
    align-items: baseline;
    gap: 20px;
}

img{
    height: 300px;
    max-height: 300px;
}

#logo{
    max-height: 240px;
}

.links{
    display: flex;
    align-items: center;
    gap: 40px;
    margin-bottom: 100px;
}

.link{
    font-size: 20px; 
    font-weight: 500;
    border-radius: 8px;
    padding: 8px 30px;
    border: 4px solid #22577a;
}

.link a {
    text-decoration: none;
}

.link-login {
    background-color: #22577a;
}

.link-login a {
    color: #c7f9cc;
}

.link-criar-conta{
    background-color: transparent;
}

.link-criar-conta a {
    color: #22577a;
}

.span-texto{
    font-size: 18px;
    font-weight: 700;
}

@media (max-width: 450px) {
    h1 {
        text-align: center;
    }

    img {
        max-height: 150px;
    }

    #logo {
        max-height: 130px;
    }

    .links {
        flex-direction: column;
        gap: 20px;
    }
}
