body{
    background-color: #c7f9cc;
    color: #22577a;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}

*{
    font-family: "Poppins", sans-serif;
}

header{
    display: flex;
    gap: 17px;
    width: 100%;
    font-weight: bolder;
    justify-content: space-between;
}

#cantologo{
    text-decoration: none;
    display: flex;
    align-items: center;
    color: #22577a;
}

#logo{
    height: 50px;
}

.titulo{
    text-align: center;   
}

.container{
    display: flex;
    align-items: center;
    flex-direction: column;
}

#cadastroForm{
    display: flex;
    gap: 50px;
}

.coluna{
    display: flex;
    flex-direction: column;
}

label{
    text-transform: uppercase;
}

input, textarea{
    background-color: #57cc99;
    border: none;
    color: #22577a;
    height: 25px;
    margin-top: 8px;   
    margin-bottom: 8px; 
    padding: 20px;
    font-size: 20px;
    min-width: 460px;
}

select {
    background-color: #57cc99;
    border: none;
    height: 65px;
    margin-top: 8px;   
    margin-bottom: 8px; 
    padding: 2px;
    font-size: 20px;
    color: #22577a;
}

#comentarios {
    height: 128px;
}

#botao {
    color: #c7f9cc;
    font-weight: 600;
    background-color:#22577a;
    border: none;
    font-size: 18px;
    padding: 8px 20px;
    cursor: pointer;
    height: 50px;
}

.voltar{
    color: #22577a;
    font-weight: 600;
    background-color:#c7f9cc;
    border: 4px solid #22577a;
    font-size: 18px;
    padding: 8px 20px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
}

.botoes{
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    width: 100%;
    padding-top: 20px;
}

/* Estilo para o modal */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
}

.modal-conteudo {
    background: #80ed99;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    width: 300px;
    display: flex;
    flex-direction: column;
}

.modal-fechar {
    align-self: flex-end;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
}

.oculto {
    opacity: 0;
    pointer-events: none;
}

.visivel {
    opacity: 1;
    pointer-events: all;
}

#mensagemModal{
    margin: 0;
}

@media (max-width: 500px) {
    #cadastroForm {
        flex-direction: column;
    }

    input, textarea{
        min-width: 70%;
    }

    .botoes {
        margin-bottom: 20px;
    }
}