body{
    background-color: #c7f9cc;
    color: #22577a;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    flex-direction: column;
}

*{
    font-family: "Poppins", sans-serif;
}

header{
    display: flex;
    gap: 17px;
    width: 100%;
    font-weight: bolder;
}

#cantologo{
    text-decoration: none;
    display: flex;
    align-items: center;
    color: #22577a;
}

#logo{
    height: 50px;
}

#subtitulo{
    color: #22577a;
    text-decoration: none;
}

#subtitulo > span{
    text-decoration: underline;
}

h1{
    font-size: 50px;
    margin-bottom: 10px;
}

.container{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 35px;
}

.formulario{
    display: flex;
    gap: 30px;
}

#coluna{
    display: flex;
    flex-direction: column;
}

label{
    margin-bottom: 5px;
}

input{
    background-color: #57cc99;
    border: none;
    width: 460px;
    max-width: 100%;
    height: 25px;
    padding: 20px;
    font-size: 20px;
    color: #22577a;
    margin-bottom: 20px;
}

#botao{
    color: #c7f9cc;
    font-weight: 600;
    background-color:#22577a;
    border: none;
    font-size: 18px;
    padding: 8px 20px;
    align-self: flex-end;
}

/* Estilo para o modal */
.modal {
    display: none; /* Oculta o modal por padrão */
    position: fixed; /* Fixa o modal na tela */
    z-index: 1; /* Garante que o modal fique acima de outros elementos */
    left: 0;
    top: 0;
    width: 100%; /* Largura total da tela */
    height: 100%; /* Altura total da tela */
    overflow: auto; /* Adiciona barra de rolagem se necessário */
    background-color: rgb(0,0,0); /* Cor de fundo */
    background-color: rgba(0,0,0,0.4); /* Cor de fundo com transparência */
}
/* Estilo para o conteúdo do modal */
.modal-content {
    background-color: #fefefe; /* Cor de fundo do conteúdo */
    margin: 15% auto; /* Margem para centralizar o modal */
    padding: 20px; /* Espaçamento interno */
    border: 1px solid #888; /* Borda do modal */
    width: 80%; /* Largura do conteúdo do modal */
}
/* Estilo para o botão de fechar */
.close {
    color: #aaa; /* Cor do botão de fechar */
    float: right; /* Alinha à direita */
    font-size: 28px; /* Tamanho da fonte */
    font-weight: bold; /* Negrito */
}
/* Estilo para o botão de fechar quando o mouse estiver sobre ele */
.close:hover,
.close:focus {
    color: black; /* Cor preta */
    text-decoration: none; /* Remove sublinhado */
    cursor: pointer; /* Altera o cursor para pointer */
}
